.body{
	margin: 0;
	background-color: grey;
}
/*header css*/
header {
  width:90vw;
  margin: 0 5% 0 4.5%;
  background-color: #72C1FF;
  transition: all 0.75s;	
  display: flex;
  color: grey;

  /*&.below-zero {
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0 0 7px #555;
  }*/
}
.head{
	padding: .5% 4vw;
	display: flex;
	/*align-items:center;
	justify-content:center;*/
}

.logo{
	height: 13vh;
}

#heading{
	color: white;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: grey;
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
	width: 70%;
	display: flex;
	align-items:center;
	margin-left: 10px;
}

#navbar{
	display:flex;
	align-items:center;
}

.dropdown{
	display:flex;
	align-items:center;
}

.nav{
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
}

ul.navbars{
	display: flex;
	text-decoration: none;
	justify-content:center;
	align-content: center;
	padding: 2px 2px 2px 2px;
	background-color:white;
}

li.navbars{
	list-style-type: none;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	border-style: solid;
    border-width: 1px;
    border-color: grey;
    padding: 10px 10px 10px 10px;
}

li a{
	color:black;
}

/*body css*/
.mainbody{
	width: 90vw;
	height: 100vh;
	margin: 0 5% 0 4.5%;
    display: flex;
    flex-wrap:wrap;
    margin-top: 1px;

}
.intro{
	width: 100vw;
	border-style: dotted;
    border-width: 1px;
    background-color: #FFF;
    padding: 3% 10% 5% 10%;
    background-image: url("placeholder.jpg");
    background-size: 30vw;
    background-repeat: no-repeat;
    background-position:3% 24%;
    border-color: white;
    height: 58vh;
}
.top{
	margin-left: 25vw;
}
.benifits{
	width: 100vw;
	height: 42vh;
	border-style: dotted;
    border-width: 1px;
    background-color: white;
    padding: 0 10% 5% 10%;
    border-color: white;
}
.right{
	float:right;
}

a {
	color:white;
}
.about{
	font-family: 'Raleway', sans-serif;
	margin-top: 1%;

}
h2{
	font-family: 'Raleway', sans-serif;
	text-decoration: underline;
	margin: 0;
}
ul.why{
	margin-top: 1%;

}
li.why{
	font-family: 'Raleway', sans-serif;
	margin-top:1%;
	font-size: 16px;
}
div.why{
	display: flex;
	flex-wrap:wrap;
	flex-direction:column;
	height: 25vh;
}

.title{
	padding-top:2%;
	margin:0;
	font-size: 29px;
	display: flex;
	justify-content:center;
}

.links{
	display: flex;
	justify-content:flex-end;
	color: white;
}
button{
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  text-shadow: 2px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 9px 20px 10px 20px;
  text-decoration: none;
}

button:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

/*classes*/
div.classes{
	background-color: white;
	width: 90vw;
	margin-left: 4.5%
}
.mia{
	font-size: 75px;
	background-color: white;
	display: flex;
	justify-content:center;
	align-items:center;
	height: 50vh;
	width: 90vw;
	margin-left: 5vw;
}
.month{
	font-size: 20px;
}

/*  footer and advertisements  */

.advertisement{
	display: flex;
	justify-content:center;
	align-items:center;
	height: 10vh;
	background-color:white;
	margin: 0 4.69% 0 4.5%;
	width: 90vw;
}

.ad1{
	margin-right:10px;
}

.ad2{
	margin-left: 10px;
}

footer{
	background-color: #72C1FF;
	height: 10vh;
	width: 90vw;
	display: flex;
	justify-content:center;
	align-content:center;
    margin: 0 5% 0 4.5%;
}

/*media queries*/
@media(max-width: 1500px) {
	div.classes{
		margin-left: 4.6%;
	}
}
@media(max-width: 1400px) {
	.mainbody{
		height: 115vh;
	}
	div.why{
		padding-left: 0;
		max-width: 500px;
	}
	li.why{
		margin-right: 4%;
		font-size: 14px;
	}
	.intro{
		height:72vh;
	}
	.benifits{
		height: 44vh;
	}
	.advertisement{
	margin: 0 4.4% 0 4.5%;
	height: 10vh;
	}
	footer{
		width: 90vw;
		margin-left: 4.5%
	}
	div.classes{
		margin: auto;
	}
}

@media(max-width: 980px ) {
	.mainbody{
		height: 100vh;
	}

	.benifits{
		height: 40vh;
	}

	.about{
		font-size: 20px;
	}
	.advertisement{
	margin: 0 3.7% 0 5%;
	}
}

@media(max-width: 480px) {
	.mainbody{
		height: 100vh;
	}

	.benifits{
		height: 40vh;
	}
	.about{
		font-size: 20px;
	}
	.advertisement{
	margin: 0 3.7% 0 5%;
	}
}


